"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "spell-check"
      "notifications"
      "metrics"
      "language-toml"
      "language-ruby-on-rails"
      "language-ruby"
      "language-objective-c"
      "language-mustache"
      "language-clojure"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
  welcome:
    showOnStartup: false
