"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "spell-check"
      "notifications"
      "metrics"
      "language-toml"
      "language-ruby-on-rails"
      "language-ruby"
      "language-objective-c"
      "language-mustache"
      "language-clojure"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    tabType: "hard"
  "exception-reporting":
    userId: "4c0c15fe-fc10-b4ec-8ac0-5046c840a195"
  welcome:
    showOnStartup: false
